<% blogs.reverse().forEach(function(blog){ %>
    <a id="episode<%=blog.episodeNum.substring(8, 9)%>" href="/episodes/<%=blog._id %>"
        class="text-reset text-decoration-none">
        <div class="shadow-sm card mb-3 p-md-2 "
            style="max-width: 100%;">
            <div class="row no-gutters p-1 p-md-0">
                <div class=" img-container col-4 col-lg-4 ">
                    <img src="<%=blog.image[0]%>"
                        class="card-img p-2 p-md-1" alt="Main episode image">
                </div>
                <div class="col-8 col-lg-8">
                    <div class="card-body pl-0 pl-md-2 pb-1 py-md-1">
                        <h5 class="card-title episode-title mb-0">
                            <%=blog.episodeNum%></h5>
                        <p class="card-text mb-0"><%=blog.title%></p>
                        <p class="card-date d-none d-sm-block">
                            <%=(blog.created.getMonth()+1) + '/' + blog.created.getDate() + '/' + blog.created.getFullYear()%>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <%}); %>