<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Pod Walker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/cd776babcb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <nav id="myNav" class="fixed-top navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="/"><i class="fas fa-hiking"></i>The Pod Walker</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="/episodes">Episodes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/playlists">Playlists</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/about">About</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" href="/subscribe">Subscribe</a>
                        </li>
                    </ul>
    
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-3">
                    <h3><span class="episode-number">Episode <%=blogs[0].episodeNum%></span></h3>
                    <h2 class="my-3"><%=blogs[0].title%></h2>
                    <h6>By <a href="/about">Tim Dorgan</a> | <%=(blogs[0].created.getMonth()+1) + '/' + blogs[0].created.getDate() + '/' + blogs[0].created.getFullYear()%></h6>
                    <div  data-href="https://podwalker.herokuapp.com/episodes/<%=blogs[0]%>" ><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpodwalker.herokuapp.com%2Fepisodes%2F<%=blogs[0]%>&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i class="fab fa-facebook-f"></i></a></div>
                    <img src="<%=blogs[0].image%>" class="card-img pb-3 pt-2" alt="...">
                    <p class="mb-0"><%-blogs[0].body%></p>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="mb-3 ">
                        <h3>Today's Playlist</h3>
                        <%-blogs[0].playlist%>
                    </div>
        
                    <h3>Today's Walk</h3>
                    
                    <div class="mb-3 shadow-sm">
                        <div class="card p-2 " style="width: 100%;">
                            <img src="<%=blogs[0].walkImage%>" class="card-img-top" alt="...">
                            <div class="card-body card-text p-2">
                                
                                <ul>
                                    <li>Distance: <%=blogs[0].walkDistance%></li>
                                    <li>Steps: <%=blogs[0].walkSteps%></li>
                                    <li>Time: <%=blogs[0].walkTime%></li>
                                </ul>
                                
                            </div>
                        </div>
                </div>
                
            </div>
        </div>
        </div>
        
        <%- include ('partials/footer') %>