<%- include ('partials/header') %>

<!-- Main content with recent episodes -->
<div class="container">
    
    <div class="row ">
        <div class="col-lg-9  col-sm-12 p-3 rounded-sm">
            <h3>Latest Episodes</h3>
            <% blogs.forEach(function(blog){ %>
            <a id="episode<%=blog.episodeNum%>" href="/episodes/<%=blog._id %>"
                class="text-reset text-decoration-none">
                <div class="shadow-sm card mb-3 p-md-2 "
                    style="max-width: 100%;">
                    <div class="row no-gutters p-1 p-md-0">
                        
                        <div class=" img-container col-4 col-lg-4 ">
                           
                            <% if (Array.isArray(blog.image)) { %>
                                <% if (blog.image[0].startsWith("uploaded")) { %>
                                    <img src="/images/<%=blog.image[0]%>"
                                <%} else { %>
                                    <img src="<%=blog.image[0]%>"
                                <% } %>
                            <%} else { %>
                                <img src="<%=blog.image%>"
                            <% } %>
                            
                                
                                class="card-img p-2 p-md-1" alt="Main episode image">
                        </div>
                      
                        <div class="col-8 col-lg-8">
                            <div class="card-body pr-0 pl-0 pl-md-2 pb-1 py-md-1">
                                <h5 class="card-title episode-title mb-0">
                                    <%=blog.episodeNum%></h5>
                                <p class="card-text mb-0"><%=blog.title%></p>
                                <p class="card-date d-none d-sm-block">
                                    <%=(blog.created.getMonth()+1) + '/' + blog.created.getDate() + '/' + blog.created.getFullYear()%>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <%}); %>

            <div id="loadedEpisodes" class="fade-in"></div>

            <div class="d-flex justify-content-center">
                <button id="loadEpBtn" class="btn btn-primary">More Episodes</button>
            </div>
            
        </div>

        <!-- Side bar walk-map carousel -->
        <div class="col-lg-3 col-sm-12 p-3">
            <h3>Recent Walks</h3>
            <div class="card mb-3 shadow-sm ">
                <div class="row no-gutters p-0 ">
                    <div id="carouselExampleControls" class="carousel slide"
                        data-ride="carousel">
                        <div class="carousel-inner ">
                            <div class="carousel-item active">
                                <div class="p-3" style="width: 100%;">
                                    <h5> <%=blogs[0].episodeNum%></h5>
                                    <% if (blogs[0].walkImage.startsWith("uploaded")) { %>
                                        <img src="/images/<%=blogs[0].walkImage%>"
                                    <%} else { %>
                                        <img src="<%=blogs[0].walkImage%>"
                                    <% } %>
                                    
                                        class="card-img-top" alt="Map of walk">
                                    <div class="card-body card-text p-2">
                                        <ul>
                                            <li>Distance:
                                                <%=blogs[0].walkDistance%> miles</li>
                                            <li>Steps: <%=blogs[0].walkSteps.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%>
                                            </li>
                                            <% if (blogs[0].walkTimeMins < 10) { %>
                                                <li>Time: <%=blogs[0].walkTimeHrs%>:0<%=blogs[0].walkTimeMins%>
                                            <% } else{ %>
                                                <li>Time: <%=blogs[0].walkTimeHrs%>:<%=blogs[0].walkTimeMins%>
                                            <% } %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <% blogs.slice(1, 3).forEach(function(blog){ %>
                            <div class="carousel-item">
                                <div class=" p-3 " style="width: 100%;">
                                    <h5> <%=blog.episodeNum%></h5>
                                    <img src="<%=blog.walkImage%>"
                                        class="card-img-top" alt="Map of walk">
                                    <div class="card-body card-text p-2">
                                        <ul>
                                            <li>Distance:
                                                <%=blog.walkDistance%> miles</li>
                                            <li>Steps: <%=blog.walkSteps.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%>
                                            </li>
                                            <% if (blog.walkTimeMins < 10) { %>
                                                <li>Time: <%=blog.walkTimeHrs%>:0<%=blog.walkTimeMins%>
                                            <% } else{ %>
                                                <li>Time: <%=blog.walkTimeHrs%>:<%=blog.walkTimeMins%>
                                            <% } %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <%}); %>
                        </div>
                    </div>
                    <a class="carousel-control-prev"
                        href="#carouselExampleControls" role="button"
                        data-slide="prev">
                        <span class="carousel-control-prev-icon"
                            aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next"
                        href="#carouselExampleControls" role="button"
                        data-slide="next">
                        <span class="carousel-control-next-icon"
                            aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <h3 class="mb-0"><i class="far fa-chart-bar"></i> Pod Stats </h3>
            <div class="card mb-3 shadow-sm d-flex justify-content-center" style="width: 100%;">
                
                <div class="card-body p-3 text-center">
                    <h5 class="pod-stats-title">
                        2020
                    </h5>
                    <div class="">
                        <div>
                            <div class="pod-stats-category">Distance Walked</div> 
                            <div><%= totals[0].totalWalkDistance %> miles</div>
                        </div>
                        <hr>
                        <div>
                            <div class="pod-stats-category">Steps Taken</div> 
                            <div><%= totals[0].totalSteps.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> </div>
                        </div>
                        <hr>
                        <div>
                            <div class="pod-stats-category">Time Walked</div> 
                            <div> <%= totals[0].totalWalkHrs %>:<%= totals[0].totalWalkMins %> 
                                    (<%= (totals[0].totalWalkHrs / 24).toFixed(1) %> days)
                            </div>
                        </div>
                        <hr>
                        <div>
                            <div class="pod-stats-category">Podcasts Listened To </div> 
                            <div><%= totals[0].totalPodcasts %> </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <!-- Side bar gear  -->
            <h3 class="mb-1"><i class="fas fa-tshirt"></i> Pod Gear </h3>
            <div class="card p-3 shadow-sm" style="width: 100%;">
                
                <div class="card-body p-0">
                    <ul>
                        <li>Shoes: Hoka One One</li>
                        <li>Phone: iPhone 11 Max</li>
                        <li>Ear buds: Jaba</li>
                        <li>Podcast manager: Pod Cruncher</li>
                        <li>Cameras: Go Pro, iPhone 11 Max, Sony A6000</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- footer with 'made by' tag and privacy policy link -->
<div id="footer" class="d-flex align-items-center">
    <div class="container ">
        <div  class="row ">
            <div  class="col-6">
                <p class="footer-text">Made with love in Deerfield, IL</p>
            </div>
            <div  class="footer-text col-6 d-flex justify-content-end">
                <a href="/privacy">Privacy Policy</a>
            </div>
        </div>
    </div>
</div>


<script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="javascripts/main.js"></script>
</body>
</html>