<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Pod Walker</title>
    <meta name="description" content="Individual Episodes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.ico" type="image/png">

    <!-- Facebook link preview meta tags -->
    <!-- facebook comments -->
    <meta property="fb:app_id" content="2966151216800084" />
    <meta property="og:url" content="https://thepodwalker.com/episodes/<%=blog._id%>/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="The Pod Walker: <%=blog.episodeNum%>" />
    <meta property="og:description" content="<%=blog.title%>" />
    <meta property="og:image" content="<%=blog.image%>" />



    <link href="https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/cd776babcb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>

<body>

    <!-- facebook sharer script -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>

    <!-- Nav bar -->
    <nav id="myNav" class="fixed-top navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/"><i class="fas fa-hiking"></i>The
                Pod Walker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="/episodes">Episodes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/playlists">Playlists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/subscribe">Subscribe</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!-- main article content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 p-3">
                <h3><span class="episode-number">
                        <%=blog.episodeNum%></span></h3>
                <h2 class="my-3"><%=blog.title%></h2>
                <h6>By <a class="bylineName" href="/about">Tim Dorgan</a> |
                    <%=(blog.created.getMonth()+1) + '/' + blog.created.getDate() + '/' + blog.created.getFullYear()%>
                </h6>
                <div>
                    <div>
                        <a target="_blank"
                            href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthepodwalker.com%2Fepisodes%2F<%=blog._id%>&amp;src=sdkpreparse"
                            class="fb-xfbml-parse-ignore">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <i id="shareBtn" class="fa fa-share"></i>
                        
                            <a id="commentsIcon">
                                
                                <i class=" fab far fa-comments"></i>
                                
                            </a>
                        
                        
                        
                        
                         </div>
                </div>



                
                <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="<%=blog.image%>" class="d-block w-100" alt="...">
                      </div>
                      
                      <div class="carousel-item">
                        <img src="" class="d-block w-100" alt="...">
                      </div>
                      
                      
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                   -->

                <img src="<%=blog.image%>" class="card-img pb-0 pt-2" alt="...">
                
                
                
                <div class="image_citation px-2 pb-2 d-flex justify-content-end">
                    <em>Captured by Tim Dorgan</em>
                </div>
                <p class="mb-0"><%-blog.body%></p>
                <div id="plugin" class="fb-comments" data-href="https://thepodwalker.com/episodes/<%=blog._id%>/" data-width="100%"
                    data-numposts="5"></div>
            </div>

            <!-- Side bar content -->
            <div class="col-lg-4 p-3">
                <!-- playlist of the current episode -->
                <div class="mb-3 ">
                    <h3>Today's Playlist</h3>
                    <%-blog.playlist%>
                </div>

                <!-- map of current walk with stats -->
                <h3>Today's Walk</h3>
                <div class="mb-3 shadow-sm">
                    <div class="card p-2 " style="width: 100%;">
                        <img src="<%=blog.walkImage%>" class="card-img-top" alt="Main article image">
                        <div class="card-body card-text p-2">
                            <ul>
                                <li>Distance: <%=blog.walkDistance%></li>
                                <li>Steps: <%=blog.walkSteps%></li>
                                <li>Time: <%=blog.walkTime%></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="footer" class="d-flex align-items-center">
        <div class="container ">
            <div class="row ">
                <div class="col-6">
                    <p class="footer-text">Made with love in Deerfield, IL</p>
                </div>
                <div class="footer-text col-6 d-flex justify-content-end">
                    <a href="/privacy">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/javascripts/share.js"></script>
</body>

</html>